.globalStyleModal{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial','san-serif';
    
}
.modal-outerdiv{
    position: relative;
    margin-top: 15%;
    margin-left: 21%;
    align-items: center;
    width: 556px;
    height: 361px;
    border-style: groove;
}
